*	{box-sizing: border-box;}

header	{
	display: inline-block;
	color: white;
	width: 100%;
	height:auto;
	border: 5px rgb(31, 2, 2);;	
	border-style: solid;
	border-width:10px;
	border-radius: 10px;
	background-color: red;
}
header ul {
	display: flex;
	justify-content: center;
}
header > p {
	text-align: center;
}

header>div {
text-align: center;
}

header li {
	display: inline-block;
	list-style: none;
	margin: 20px 40px;
}

li.menu {
display: none;
}

 a	{
	 color: white;
	text-decoration: none;
	display: block;
}

body 	{
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	width:100%;
	background-color: green;
	}

.float 	{float: right;
	padding: 10px;}

div.box	{word-wrap: break-word;
	margin-top: 100px;
	width: 500px;
	padding: 10px;
	border: 5px; 
	border-style: solid;
	border-radius: 20px;
	background: linear-gradient(red 20%, green 80%);
	transition: width 3s;}

div.box:hover {width: 600px;}


aside 	{float: right;
	font-size: 25px;}

a[title="aside"]	{color: red;}


footer ul {
width: 90%;
}

footer ul li {
	display:inline-block;
	border: 5px black;
	border-style: solid;
	border-radius: 10px;
	background-color: red;
	text-align: center;
}


table 	{
	text-align: center;
	margin-top:20px;
	border-radius: 20px;
	padding: 5px;
	border: 5px black;
	border-style: solid;
	border-radius: 10px;
	background-color: red;}

	
@media screen and (max-width: 1140px){
	header li {
		margin: 20px 20px;
	}
}

@media screen and (max-width: 690px){
	header {
		height: auto;
	}
	header ul{
		flex-direction: column;
		padding: 0px;
		margin-bottom: 0px;
	}
	li.menu {
		display: block;
		border: 2px solid rgb(31, 2, 2);;
		border-top: 5px solid rgb(31, 2, 2);
		text-align: center;
		padding: 5px 0px;
		margin: 0px;
		border-radius: 10px;
		-webkit-transition: background-color 1s ease;
		-moz-transition: background-color 1s ease;
		-o-transition: background-color 1s ease;
		transition: background-color 1s ease;
		}
	li.menu:hover {
			cursor: pointer;
			color: rgb(198, 247, 176);
			background-color: rgb(31, 5, 5);
			border-top: 2px solid;
		}
	.others {
			display: none;
			border: 2px solid rgb(31, 2, 2);
			text-align: center;
			padding: 5px 0px;
			margin: 0px;
			border-radius: 10px;
			-webkit-transition: background-color .9s ease;
			-moz-transition: background-color .9s ease;
			-o-transition: background-color .9s ease;
			transition: background-color .9s ease;
		}
	.others:hover {
			cursor: pointer;
			color: rgb(198, 247, 176);
			background-color: rgb(31, 5, 5);
		}
	header ul li:nth-last-child(){
			border-bottom: none;
		}
}

@media screen and (max-width: 600px){
	div.box:hover {
		width: 500px;
	}

	footer ul li {
		display: block;
	}
}

@media screen and (max-width: 510px){
	div.box {
		width: 90%;
	}
	div.box:hover {
		width: 90%;
	}
	table {
		width: 90%;
	}
}



